@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-image: url('/image/Темная тема.png');
    /* Ссылка на изображение */
    background-size: cover;
    /* Изображение будет растянуто на весь экран */
    background-position: center;
    /* Изображение будет центрировано */
    background-repeat: no-repeat;
    /* Изображение не будет повторяться */
    height: 100vh;
    /* Высота страницы 100% от высоты экрана */
    margin: 0;
}

a {
    text-decoration: none;
    color: rgb(255, 0, 157);
}

img {
    display: block;
    max-width: 100%;
}

.logo {
    margin-left: 45px;
    margin-top: -30px;
    max-width: 230px;
}




header {
    display: flex;
    justify-content: 0;
    align-items: center;
    padding: 40px;
}

.menu {
    display: flex;
    gap: 2.5px;
    list-style: none;
}

.menu li {

    margin: 0;
    margin-left: 25px;
    margin-top: 0px;
}

.menu a {
    font-size: 28px;
    font-weight: bold;
}

/* Дополнительные стили для ссылок */
.kat,
.support,
.where,
.klik {
    transition: color 0.3s ease;
}

.kat:hover,
.support:hover,
.where:hover,
.klik:hover {
    color: rgb(250, 250, 250);
    /* Эффект при наведении */
}

.search-container input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ff00aa;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    outline: none;
}

.search-container button {
    background-color: #ff0178;
    /* Розовый цвет */
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    font-size: 16px;
}

.search-container button:hover {
    background-color: #be1879;
    /* Темнее при наведении */
}

.search-container {
    display: flex;
    align-items: center;
    width: 400px;
    /* Можно изменить размер */
    margin-left: 35px;
    margin-top: 0px;
}

.korzina {
    margin-left: 10px;
    margin-top: -52.5px;
    max-width: 125px;
}

.profile {
    margin-left: -20px;
    margin-top: -22.5px;
    max-width: 90px;
}
.navigg{
    margin-left: 300px;
    width: 70%;
}
.klik{
    font-size: 28px;
    margin-left: 900px;
}


