/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

/* CSS Variables */
:root {
    --primary-color: #ff00aa;
    --secondary-color: #ff0178;
    --hover-color: #be1879;
    --text-color: #fff;
    --success-color: #2bff00;
    --neon-color: #ff00f2;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base styles */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-image: url('/image/Темная тема.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

a {
    
    text-decoration: none;
    color: rgb(255, 0, 157);
}

li {
    text-decoration: none;
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Header and Navigation */
header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2.5rem;
}

.logo {
    margin-left: 2.8125rem;
    margin-top: -1.875rem;
    max-width: 14.375rem;
}

.menu {
    display: flex;
    gap: 0.25rem;
    list-style: none;
}

.menu li {
    margin: 0 0 0 1.5625rem;
}

.menu a {
    font-size: 1.75rem;
    font-weight: bold;
}

/* Link Styles */
.kat,
.support,
.where {
    transition: color 0.3s ease;
    will-change: color;
}

.kat:hover,
.support:hover,
.where:hover {
    color: var(--text-color);
}

/* Search Container */
.search-container {
    display: flex;
    align-items: center;
    width: 25rem;
    margin: 0.3125rem 0 0 0.625rem;
}

.search-container input[type="text"] {
    width: 100%;
    padding: 0.625rem;
    border: 1px solid var(--primary-color);
    border-radius: 5px 0 0 5px;
    font-size: 1rem;
    outline: none;
}

.search-container button {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: none;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.search-container button:hover {
    background-color: var(--hover-color);
}

/* Profile and Cart */
.korzina {
    margin: -3.28125rem 0 0 0.625rem;
    max-width: 7.8125rem;
}

.profile {
    margin: -1.40625rem 0 0 -1.25rem;
    max-width: 5.625rem;
}

.profile1 {
    margin-top: 10px;
    margin-left: 10px;
    max-width: 80px;
}